
<div class="container mt-2">
  <ng-container *ngIf="ListProduits | async as data; else failureOrLoading">

    <div class="card">
      <div class="card-header">Liste des produits</div>
        <div class="card-body">
          <table class="table">
           <thead>
           <tr>
             <th>ID</th> <th>Nom</th><th>Prix</th> <th>Id_user</th><th>Image</th>
           </tr>
           </thead>
            <tbody>
             <tr *ngFor="let p of ListProduits |  async ">
               <td>{{p._id}}</td>
               <td>{{p.nom}}</td>
               <td>{{p.prix}}</td>
               <td>{{p.id_user}}</td>
               <!--<td>{{p.image}}</td>-->
               <td>
                 <button (click)="Supprimer(p._id)" class="btn btn-danger" >
                   <i class="bi bi-trash"></i>
                 </button>
               </td>
             </tr>
            </tbody>
          </table>
        </div>

    </div>

  </ng-container>

  <ng-container>
    <ng-template #failureOrLoading>
      <ng-container *ngIf="ErrorMessage; else Loading">
        <div class="text-danger">
          {{ErrorMessage}}
        </div>
      </ng-container>
      <ng-template #Loading>
        Produits en cours de chargement .......
      </ng-template>
    </ng-template>
  </ng-container>

</div>
<div class="container mt-2">
<div class="d-flex flex-row">
  <div class="card mr-2 w-25 h-100  mx-3 my-3" *ngFor="let p of this.ListProduits| async">
    <img class="card-img-top" src="{{p.image}}" alt="{{p.nom}}">
    <div class="card-body">
      <h5 class="card-title">{{p.nom}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{p.prix}} €</h6>
      <button class="btn btn-secondary" (click)="openCommentBox()">Commenter</button>
      <div class="comment-box-overlay" [hidden]="!showCommentBox" (click)="closeCommentBox()"></div>
      <div class="comment-box" [hidden]="!showCommentBox">
        <button class="close-button" (click)="closeCommentBox()">&#10005;</button>
        <textarea  (input)="redimensionnerTextarea()" #commentTextarea  class="comment-text"></textarea>
      </div>

    </div>
  </div>
</div>
</div>
